<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>byGPA</title>
</head>

<body>
    <h1>Display GPAs Greater than or Equal to</h1>

    <form id="form1" action="processAdminGPA" method="get">
        
        <b>GPA: </b> <input type="text" name="gpa" id="gpa">
        <br>
        <br>
        <input type="submit" id="submit" value="Submit Request">
    </form>

    
    <hr>
    <a href="http://localhost:<%= portNumber %>">HOME</a>
</body>