<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Process Admin Remove</title>
</head>

<body>
	<h1>Removal of All Applications</h1>
	<div>
	    
        All applications have been removed from the database. Number of applications removed: <%- count %>
        <br>
        <br>
        <a href="http://localhost:<%= portNumber %>">HOME</a>
	</div>
</body>

</html>
