<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application</title>
</head>

<style>
form{
    border: 1px solid black;
    padding: 10px;
}
</style>

<body>
    <h1>Review Application</h1>

    <form id="form2" action="/processReviewApplication" method="get">
        
        <b>Email Address:</b> <input type="email" name="email" id="email">
        
        <br>
        <br>
        <input type="reset" id="clear" value="Reset"> 
        <input type="submit" id="submit"value="Submit Request">
    </form>

    <br>

    
    <hr>
    <a href="http://localhost:<%= portNumber %>">HOME</a>
</body>